{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form action="/search" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search_query" name="q" placeholder="Search for a product...">
                        <div class="input-group-append">
                            <!-- <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <form action="/checkout" method="post">
                <div class="form-group">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">{{ product.item_name }}</h5>
                                    <p class="product_card-text">{{ product.info }}</p>
                                    <p class="product_card-price">${{ product.price }}</p>
                                    <input type="number" class="quantity" id={{product.id}} name={{product.id}}
                                        placeholder="0">
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <!-- Add more products -->
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 2</h5>
                                    <p class="product_card-text">Product Description 2</p>
                                    <p class="product_card-price">$15.99</p>
                                    <input type="number" class="quantity" id="product_id_2" name="product_id_2"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 3</h5>
                                    <p class="product_card-text">Product Description 3</p>
                                    <p class="product_card-price">$19.99</p>
                                    <input type="number" class="quantity" id="product_id_3" name="product_id_3"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 4</h5>
                                    <p class="product_card-text">Product Description 4</p>
                                    <p class="product_card-price">$24.99</p>
                                    <input type="number" class="quantity" id="product_id_4" name="product_id_4"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 5</h5>
                                    <p class="product_card-text">Product Description 5</p>
                                    <p class="product_card-price">$12.99</p>
                                    <input type="number" class="quantity" id="product_id_5" name="product_id_5"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 6</h5>
                                    <p class="product_card-text">Product Description 6</p>
                                    <p class="product_card-price">$9.99</p>
                                    <input type="number" class="quantity" id="product_id_6" name="product_id_6"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="path_to_image" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">Product Name 7</h5>
                                    <p class="product_card-text">Product Description 7</p>
                                    <p class="product_card-price">$99.99</p>
                                    <input type="number" class="quantity" id="product_id_6" name="product_id_6"
                                        placeholder="0">
                                </div>
                            </div>
                        </div>
                        <!-- Add more products here -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="checkout_button">Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
