{% extends "layout.html" %}

{% block content %}
<div class="row" id="product_details_page">
    <div class="col-md-12">
        <h3>Product Details</h3>
        <hr>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="mt-3">{{ product.item_name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <p class="font-weight-bold">Price: ${{ product.price }}</p>
            </div>
        </div>
        <!-- Display the reviews if available -->
        {% if product.reviews %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="mt-4">Reviews</h2>
                <ul class="list-unstyled">
                    {% for review in product.reviews %}
                    <li>
                        <h4 class="mb-1">Rating: {{ review.rating }}/5</h4>
                        <p>{{ review.comment }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a href="{{ url_for('index_page') }}" class="btn btn-primary mt-3">Back to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
